<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Password change</title>
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/QTransform.js"></script>
        <link rel="stylesheet" href="/static/DragonBook/DragonBook.min.css?22"/>
        <script src="/static/js/Filter.js?7"></script>
        <script src="/static/DragonBook/DragonBook.min.js?47"></script>
        <style>
            html {
                height: 100%;
            }

            body {
                background: #3364a6 url('/static/images/aqua_bg.jpg') no-repeat center center fixed;
                background-size: cover;
                -webkit-text-size-adjust: 100%;
            }
        </style>
    </head>
    <body>
        <div id="fb-root"></div>
        <div id="titleTable" class="blackShadow">
            <div id="titleTableLeft" class="cell">
                <span id="icon"></span>
                <span id="titleText">
                    <a href="/">DragonBound</a>
                    > Password change
                </span>
            </div>
            <div id="titleTableRight" class="cell right">
                <a href="/login?next=">Login</a>
            </div>
        </div>
        <div id="body">
            <form action="" method="post">
                <input type='hidden' name='csrfmiddlewaretoken' value='{{{csrfToken}}}'/>
                <div>
                    {{{error_principal}}}
                    <h1>Password change</h1>
                    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                    <fieldset class="module aligned wide">
                        <div class="form-row">
                            {{{error_secundario}}}
                            <label for="id_old_password" class="required">Old password:</label>
                            <input type="password" name="old_password" autofocus required id="id_old_password"/>
                            <!--<a href="/accounts/password/reset" style="color:cyan">(Don't know? Reset password with Email)</a>-->
                        </div>
                        <div class="form-row">
                            <label for="id_new_password1" class="required">New password:</label>
                            <input type="password" name="new_password1" required id="id_new_password1"/>
                        </div>
                        <div class="form-row">
                            {{{error_terceario}}}
                            <label for="id_new_password2" class="required">Password (again):</label>
                            <input type="password" name="new_password2" required id="id_new_password2"/>
                        </div>
                    </fieldset>
                    <div class="submit-row">
                        <input type="submit" value="Change my password" class="default"/>
                    </div>
                    <script type="text/javascript">
                        document.getElementById("id_old_password").focus();
                    </script>
                </div>
            </form>
        </div>
    </body>
</html>