{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					// "@infra": "./src/infra",
					// "@main": "./src/main",
					// "@data": "./src/data",
					// "@presentation": "./src/presentation"
				}
			}
		]
	]
}