<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Password change successful</title>
        <script src="/cdn-cgi/apps/head/iR8OSjNSfwcexYD8YdkF6QmafNg.js"></script>
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/QTransform.js"></script>
        <link rel="stylesheet" href="/static/DragonBook/DragonBook.min.css?22"/>
        <script src="/static/js/Filter.js?7"></script>
        <script src="/static/DragonBook/DragonBook.min.js?47"></script>
        <style>
            html {
                height: 100%;
            }

            body {
                background: #3364a6 url('/static/images/aqua_bg.jpg') no-repeat center center fixed;
                background-size: cover;
                -webkit-text-size-adjust: 100%;
            }
        </style>
    </head>
    <body>
        <div id="fb-root"></div>
        <div id="titleTable" class="blackShadow">
            <div id="titleTableLeft" class="cell">
                <span id="icon"></span>
                <span id="titleText">
                    <a href="/">DragonBound</a>
                    > Password change successful
                </span>
            </div>
            <div id="titleTableRight" class="cell right">
                <a href="/login?next=">Login</a>
            </div>
        </div>
        <div id="body">
            <h1>Password change successful</h1>
            <p>Your password was changed.</p>
            <br>
            <br>
            Go to:
            <br>
            <br>
            <a href="/settings">Settings</a>
            <br>
            <br>
            <a href="/me">My Page</a>
            <br>
            <br>
            <a href="/">Play DragonBound</a>
        </div>
    </body>
</html>